/** @format */

.cart {
  width: 100%;
}
.cart-header {
  height: 70px;
  border-bottom: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.cart-header h1 {
  font-size: 26px;
  line-height: 70px;
}

.cart-header .counter {
  width: 2vw;
  height: 2vw;
  border-radius: 100%;
  background-color: #57cad5;
}

.cart-content {
  padding-top: 20px;
  display: flex;
  justify-content: space-around;
}

.cart-img {
  width: 6vw;
}
.cart-title {
  font-size: 1.1vw;
}
.cart-price {
  font-size: 1.1vw;
  align-self: flex-end;
}
.btn-counter button {
  color: black;
  padding: 0px 1vw 0px 1vw;
  border: none;
}

.cart-item {
  display: flex;
  flex-direction: column;
}
.cart-img {
  border-radius: 5px;
}

.total {
  display: flex;
  flex-direction: column;
}
.total-title {
  font-size: 3vmin;
}

.ppn {
  font-size: 2vmin;
}
.title-cart {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 2vw;
}

.ppn-wrap {
  align-content: flex-start;
  margin: 0 2vw;
}

.btn-checkout {
  display: flex;
  flex-direction: column;
  margin: 0 1vw 0 1vw;
}
.btn-checkout button {
  color: white;
  padding: 0.5vw;
  border-radius: 10px;
  margin-top: 1vh;
}
.btn-checkout .checkout {
  background-color: #57cad5;
  margin-bottom: 1vh;
}

.btn-checkout .cancel {
  background-color: #f24f8a;
}

.empty-cart {
  text-align: center;
}

.badge {
  background-color: #57cad5;
  height: 5vh;
  width: 2vw;
  align-self: center;
  line-height: 4vh;
  color: #eeeeee;
  font-size: medium;
  margin-left: 1vw;
  border-radius: 60%;
}

.empty-subtext {
  color: #cecece;
  font-size: 1vmax;
}
