.header {
    height: 70px;
    text-align: center;
    border-bottom: 1px solid #eeeeee;
  }
  .header h1 {
    font-size: 26px;
  }
  .food-items {
    background-color: rgba(190, 195, 202, 0.3);
    box-shadow: inset 4px 4px 10px rgba(0, 0, 0, 0.25);
    overflow: scroll;
    max-height: 590px;
  }
  
  .header button {
    background-color: white;
    border: 0;
    margin-left: 15px;
  }