/** @format */

* {
  padding: 0;
  margin: 0;
}

.container-fluid {
  position: relative;
}
.toast {
  color: greenyellow;
}

.modal-main {
  position: fixed;
  background: white;
  width: 40%;
  height: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.display-block {
  display: block;
}

.display-none {
  display: none;
}

.content-checkout {
  display: flex;
  justify-content: space-between;
  font-size: 1em;
}

.content-checkout h3 {
  font-size: 1em;
  margin: 0;
}
.content-checkout p {
  font-size: 0.9em;
  margin: 0;
}

.checkout-right {
  text-align: left;
}
.checkout-right {
  padding-left: 20px;
}
.checkout-left {
  padding-right: 20px;
  text-align: right;
}

.header,
.receipt {
  padding-top: 10px;
}

.menus {
  padding-top: 20px;
}

.price {
  padding-top: 33px;
}

.total {
  padding-top: 20px;
}

.payment {
  display: flex;
  padding-top: 40px;
}

.btn-add {
  display: flex;
  flex-direction: column;
  margin-top: 5vh;
  margin-bottom: 3vh;
}

.btn-add .print {
  background-color: #57cad5;
  margin-bottom: 1vh;
}

.btn-add .email {
  background-color: #f24f8a;
}
