/** @format */

.cashier-text {
  font-size: 16px;
}

.text-reciept {
  font-size: 13px;
  font-weight: bold;
  align-self: flex-start;
}

.header {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  border: none !important;
}

.bodyContainer {
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.menuWrapp {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.payment {
  align-self: flex-start !important;
}
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.or {
  align-self: center;
  margin: 0 2vw;
}
