/** @format */

@media all and (min-width: 480px) {
  .register {
    padding: 150px 0;
    min-height: 100vh;
    display: flex;
    font-weight: 400;
    font-family: sans-serif;
    background: linear-gradient(
      to right top,
      #732d54,
      #6d3360,
      #643a6b,
      #594174,
      #4b477b,
      #43578d,
      #37689d,
      #2678aa,
      #0698c5,
      #00b9d9,
      #2cdae8,
      #5ffbf1
    );

    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    width: 100%;
    height: 100%;
    flex-direction: column;
    align-items: center !important;
  }

  .register form {
    margin: 0 auto;
    width: 30vw;
    font-family: "Noto Sans JP", sans-serif;
  }

  /** @format */

  * {
    box-sizing: border-box;
  }

  @keyframes gradient {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }
  h3 {
    text-align: center;
    font-size: 1.5em;
    font-weight: 600;
    font-family: "Noto Sans JP", sans-serif;
  }

  .nav-link {
    margin-top: 10px;
    text-align: end;
    font-size: 0.8em;
    font-weight: 400;
    font-family: "Noto Sans JP", sans-serif;
    color: #000000;
  }

  .btnSubmit {
    font-size: 0.7em;
    background-color: #132939 !important;
  }
}
